main {
  margin-top: 20px;
}
#wrap {
  z-index: 1;
  position: relative;
  background: #F9F9F9;
  padding-bottom: 40px;
}
main {
  position: relative;
  display: block;
}
main .o_content {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17);
}
@media (min-width: 768px) {
  main .o_content {
    margin: 0px auto 0;
    border-radius: 2px;
  }
}
main article.doc-body {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
  padding: 15px;
}
@media (min-width: 768px) {
  main article.doc-body {
    padding: 5px 30px;
  }
}
@media (min-width: 992px) {
  main article.doc-body {
    max-width: 810px;
  }
}
@media (min-width: 1200px) {
  main article.doc-body {
    margin-left: 3%;
  }
}
main article.doc-body > * {
  max-width: 100%;
}
main.o_aside_removed,
main.o_slim_page {
  max-width: 700px;
}
@media (min-width: 1200px) {
  main.o_aside_removed,
  main.o_slim_page {
    max-width: 760px;
  }
}
@media (min-width: 992px) {
  main.o_aside_removed article.doc-body,
  main.o_slim_page article.doc-body {
    padding-left: 30px;
  }
}
main.has_code_col {
  max-width: 700px;
}
@media (min-width: 1200px) {
  main.has_code_col {
    max-width: 1170px;
  }
}
main.has_code_col .doc-aside,
main.has_code_col .doc-content {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
@media (max-width: 1199px) {
  main.has_code_col .doc-aside,
  main.has_code_col .doc-content {
    padding: 0;
  }
}
.wrap {
  margin-top: -11.5px;
  margin-bottom: 50px;
}
article {
  color: #373e42;
  margin-left: 25px;
}
article.doc-body > section {
  padding-bottom: 10px;
}
article.doc-body > section > :last-child {
  margin-bottom: 0;
}
article.doc-body > section > h2,
article.doc-body > section > h3,
article.doc-body > section > h4,
article.doc-body > section > h5,
article.doc-body > section > h6 {
  margin-bottom: 5px;
  margin-top: 40px;
}
article.doc-body > section > h2:last-child,
article.doc-body > section > h3:last-child,
article.doc-body > section > h4:last-child,
article.doc-body > section > h5:last-child,
article.doc-body > section > h6:last-child {
  margin-bottom: -30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #f4f6f7;
}
article.doc-body > section > h2 {
  padding-bottom: 5px;
  border-bottom: 2px solid #f4f6f7;
}
article.doc-body > section > h5,
article.doc-body > section > h6 {
  font-weight: 500;
}
article.doc-body > section:first-of-type > h2,
article.doc-body > section:first-of-type > h3,
article.doc-body > section:first-of-type > h4,
article.doc-body > section:first-of-type > h5,
article.doc-body > section:first-of-type > h6 {
  margin-top: 10px;
}
article.doc-body > section:first-of-type:empty,
article.doc-body > section:first-of-type.hidden {
  display: none;
}
article.doc-body > section:first-of-type:empty + section > h2,
article.doc-body > section:first-of-type.hidden + section > h2,
article.doc-body > section:first-of-type:empty + section > h3,
article.doc-body > section:first-of-type.hidden + section > h3,
article.doc-body > section:first-of-type:empty + section > h4,
article.doc-body > section:first-of-type.hidden + section > h4,
article.doc-body > section:first-of-type:empty + section > h5,
article.doc-body > section:first-of-type.hidden + section > h5,
article.doc-body > section:first-of-type:empty + section > h6,
article.doc-body > section:first-of-type.hidden + section > h6 {
  margin-top: 10px;
}
article.doc-body > section {
  line-height: 26px;
}
article.doc-body a,
article.doc-body a:hover {
  text-decoration: underline;
}
article.doc-body blockquote {
  font-size: 15px;
  line-height: 26px;
}
article.doc-body blockquote:not(:first-child) {
  margin-top: 17px;
}
article.doc-body dl dt code {
  font-size: 0.9em;
}
article.doc-body dl dd {
  margin: 2px 0 15px 15px;
}
article.doc-body ol,
article.doc-body ul {
  line-height: 26px;
  padding: 0;
  list-style: none;
  counter-reset: a;
}
article.doc-body ol li,
article.doc-body ul li {
  margin: 5px 0;
  position: relative;
  padding-left: 30px;
}
article.doc-body ol li:before,
article.doc-body ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 10px;
  bottom: auto;
  right: auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #939da3;
}
article.doc-body ol li p,
article.doc-body ul li p {
  margin: 0;
}
article.doc-body ol li h2,
article.doc-body ul li h2,
article.doc-body ol li h3,
article.doc-body ul li h3,
article.doc-body ol li h4,
article.doc-body ul li h4,
article.doc-body ol li h5,
article.doc-body ul li h5,
article.doc-body ol li h6,
article.doc-body ul li h6 {
  margin-top: 0;
  padding-top: 0;
}
article.doc-body ol > li:before {
  counter-increment: a;
  content: counter(a);
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 4px 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 3px;
  left: 0;
  bottom: auto;
  right: auto;
}
article.doc-body .o_has_permalink_marker {
  transition: all, 0.3s;
  padding-left: 0;
}
article.doc-body .o_has_permalink_marker i {
  cursor: pointer;
  visibility: hidden;
  margin-left: 0.1em;
  font-size: 0.8em;
  padding: 0.2em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
article.doc-body .o_has_permalink_marker:hover i {
  visibility: visible;
}
article.doc-body .o_has_permalink_marker.o_marked {
  padding-left: 10px;
  background-color: #fff7d1;
}
@-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
.ripple {
  z-index: 2;
}
.ripple .inner-ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  opacity: 1;
  z-index: -1;
  background: rgba(0, 0, 0, 0.05);
  pointer-events: none;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.ripple .inner-ripple.inner-ripple-animated {
  -webkit-animation: ripple 0.35s ease-in;
  -o-animation: ripple 0.35s ease-in;
  animation: ripple 0.35s ease-in;
}
article.doc-body .code-fields {
  display: table;
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  border: 2px solid #F2F2F2;
}
article.doc-body .code-fields .code-field {
  display: table-row;
}
article.doc-body .code-fields .code-field-body {
  display: block;
  padding-left: 15px;
}
@media screen and (min-width: 992px) {
  article.doc-body .code-fields .code-field-body {
    display: table-cell;
    padding-left: 0;
  }
}
article.doc-body .code-fields .code-field-name {
  width: auto;
  display: block;
  font-weight: 600;
  color: #21313a;
}
article.doc-body .code-fields .code-field-name:after {
  content: ":";
}
@media screen and (min-width: 992px) {
  article.doc-body .code-fields .code-field-name {
    text-align: right;
    width: 20%;
    padding-right: 10px;
    display: table-cell;
  }
}
article.doc-body .code-fields ul {
  list-style: none;
  margin: 0.2em 0;
}
article.doc-body .code-fields ul > li {
  margin: 0 0 8px;
  padding-left: 0px;
  line-height: 1.5;
}
article.doc-body .code-fields ul > li:before {
  display: none;
}
article.doc-body .code-fields ul strong {
  color: #21313a;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
article.doc-body .code-fields ul em {
  color: #21313a;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 600;
}

article.doc-body.index-category {
  min-height: 300px;
  min-height: 30vh;
}
article.doc-body.index-category li.toctree-l1 {
  padding: 5px 0;
}
article.doc-body .content-switcher {
  margin-top: 0;
}
article.doc-body .content-switcher > ul {
  font-size: 10px;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
article.doc-body .content-switcher > ul > li {
  font-weight: 600;
  color: #dcddde;
  border-bottom: 1px solid transparent;
  margin: 0 20px 0 0;
  padding-left: 0;
  font-size: 1.3em;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.6;
}
article.doc-body .content-switcher > ul > li:before {
  content: none;
}
article.doc-body .content-switcher > ul > li.active {
  border-bottom: 1px solid #21b799;
  opacity: 1;
}
article.doc-body .content-switcher:hover > ul > li {
  opacity: 1;
  filter: alpha(opacity=100);
}
article.doc-body .content-switcher > .tabs > * {
  display: none;
  max-width: 100%;
  overflow-x: auto;
}
article.doc-body .content-switcher > .tabs > .active {
  display: block;
}
.highlight {
  background: #21272b;
  color: #dcddde;
  border-radius: 4px;
  margin-bottom: 11px;
}
.highlight pre {
  margin-bottom: 0;
}
pre {
  font-size: 0.8em;
  color: #dcddde;
  background: #21272b;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 600;
  position: relative;
  border: none;
  max-width: 100%;
  overflow: auto;
  margin: 0 0 11px;
}
aside {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
  max-width: 240px;
  position: static;
  padding: 0;
  display: block;
  border-right: 1px solid #F2F2F2;
}
.navbar-aside {
  position: relative;
  overflow: hidden;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.85em;
  line-height: 1.5;
  overflow-y: auto;
}
.navbar-aside.affix {
  z-index: 2;
  top: 46px;
  position: fixed;
  backface-visibility: hidden;
}
@media (max-width: 992px) {
  .navbar-aside.affix {
    display: none;
  }
}
.navbar-aside > ul.list-group {
  margin: 0;
  z-index: 0;
}
.navbar-aside > h3 {
  margin: 0;
  padding: 15px 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #373e42;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 10px 9px -10px #d2d2d2;
  box-shadow: 0 10px 9px -10px #d2d2d2;
}
.navbar-aside .gith-container {
  margin: 0;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
}
.navbar-aside .gith-container .gith-link {
  color: #373e42;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 10px 0;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.navbar-aside .gith-container .gith-link:hover {
  color: #21313a;
  text-decoration: none;
}
.navbar-aside .gith-container .gith-link:before {
  width: 1em;
  height: 1em;
  content: '';
  position: relative;
  background-image: url('img/github-square_32.png');
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translate(0, -1px);
  -ms-transform: translate(0, -1px);
  -o-transform: translate(0, -1px);
  transform: translate(0, -1px);
}
.navbar-aside ul {
  padding: 0;
  position: relative;
  margin-bottom: 0 !important;
}
.navbar-aside ul li {
  padding: 0;
  margin-bottom: 0;
}
.navbar-aside ul li:first-child,
.navbar-aside ul li:last-child {
  border-radius: 0;
}
.navbar-aside ul li:first-child {
  overflow: hidden;
  border-radius: 2px 0 0 0;
}
.navbar-aside ul li > a {
  display: block;
  padding: 5px 15px;
  color: #373e42;
  line-height: 1.2;
}
.navbar-aside ul li > a:focus,
.navbar-aside ul li > a:hover {
  color: #21313a;
}
.navbar-aside ul li.parent > a:after {
  content: '\e7c1';
  font-family: 'Material-Design-Icons';
  opacity: 0.8;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 10px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}
.navbar-aside ul li.parent.active > a:after {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.navbar-aside ul ul {
  max-height: 0;
  background-color: rgba(220, 221, 222, 0.2);
  padding: 0px;
  overflow: hidden;
  margin-left: 0;
  box-shadow: inset 0 3px 5px -2px #dcddde;
  -webkit-transition: max-height 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: max-height 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: max-height 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.navbar-aside ul ul > li:not(:last-child) {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
}
.navbar-aside ul ul > li:not(:last-child).active > ul > li:not(:first-child) {
  border-top: 1px solid #F2F2F2;
}
.navbar-aside li.active,
.navbar-aside li.active:focus,
.navbar-aside li.active:hover {
  border-color: #F2F2F2;
  background: transparent;
}
.navbar-aside li.active > a,
.navbar-aside li.active:focus > a,
.navbar-aside li.active:hover > a {
  font-weight: bold;
  color: #21313a;
}
.navbar-aside li.active > ul {
  max-height: 1000px;
}
.navbar-aside > ul > li {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.navbar-aside > ul > li > a {
  padding: 10px 15px;
  border-left: 3px solid transparent;
}
.navbar-aside > ul > li:focus > a,
.navbar-aside > ul > li:hover > a {
  border-left: 3px solid #dcddde;
  background-color: transparent;
}
.navbar-aside > ul > li.active > a,
.navbar-aside > ul > li.active:focus > a,
.navbar-aside > ul > li.active:hover > a {
  border-left: 3px solid #21b799;
}
.navbar-aside > ul > li.active.parent + li {
  box-shadow: 0 -3px 5px -4px rgba(40, 47, 51, 0.4);
}
.navbar-aside > ul > li > ul > li > a {
  padding-left: 20px;
}
.navbar-aside > ul > li > ul > li > ul > li > a {
  padding-left: 30px;
}
.navbar-aside > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 40px;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14.5px;
  line-height: 1.42857143;
  color: #373e42;
  background-color: #F9F9F9;
}
.show_simple, .show_simple_rpc {
  border: 1px solid #132ddf;
  min-height: 25px;
  margin-top: 10px;
  margin-top: 3px;
  text-align: center;
}
